body{
  font-family: 'Indie Flower','Lobster';
  background-color: #32502E;
  font-size: 5rem;
}



h1 {
  text-align: center;
  color: #F3EFCC;
  margin: 2.5% 0;
  font-size: 120%;
}


.dice {
  display: inline-block;
  color: #F3EFCC;
  margin: 1% auto;

}

.myDice{
  text-align: center;
  font-size: 80%;
}

.dicePicture{

}

footer{
  text-align: center;
  color: #F3EFCC;
  margin: 15% 0 0 0;
  font-size: 30%;
}
